
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: gray;
  overflow: hidden;
}

#chartdiv {
  width: 90%;
  height: 800px;
  max-width: 100%;
  background-color: #454a58;
}
.buttonTop {
  border: none;
  color: white;
  padding: 16px 130px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.buttonFt {
  border: none;
  color: white;
  padding: 12px 57px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonFt1 {background-color: #4CAF50;} /* Green */
.buttonFt2 {background-color: #008CBA;} /* Blue */


.button2 {
  background-color: #008CBA; 
  color: white; 
  border: 2px solid white;
}

.button2:hover {
  background-color: #5bbedf;
  color: black;
}

.button1 {
  background-color: #db0b0b; 
  color: white; 
  border: 2px solid white;
}

.button1:hover {
  background-color: #ec5555;
  color: black;
}

.button3 {
  background-color: #4CAF50; 
  color: white; 
  border: 2px solid white;
}

.button3:hover {
  background-color: #83fa87;
  color: black;
}



/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

